html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  background: #00BCD4;
  color: #EDEDED;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  border-sizing: border-box;
}

h1 {
  font-size: 4em;
  text-shadow: 2px 2px 1px #5A5A5A;
}

.functional {
  font-family: 'Quintessential', cursive;
  color: #F44336;
}

.reactive {
  transition: color 0.5s linear;
}

.intro h3 {
  text-align: right;
  text-shadow: 1px 1px 1px #5A5A5A;
}

.slide {
  padding: 2em;
}
